@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Ms+Madi&family=Petit+Formal+Script&family=Playwrite+HR+Lijeva:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: black;
    margin: 0;
    padding: 0;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.about {
    text-shadow: 0px 0px 5px darkblue,
                 0px 0px 10px darkblue,
                1px 1px 50px darkblue;
}

.gallery {
    text-shadow: 0px 0px 5px green,
                 0px 0px 10px green,
                1px 1px 50px green;
}

.journal {
    text-shadow: 0px 0px 5px red,
                 0px 0px 10px red,
                1px 1px 50px red;
}

.glow {
    animation: lightson 0.5s ease 3 forwards;
}

@keyframes lightson {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 0px white,
                     0px 0px 0px white,
                     0px 0px 0px white;
    }
    20% {
        opacity: 0.5;
        text-shadow: 0px 0px 2.5px white,
                     0px 0px 5px white,
                     1px 1px 25px white;
    }
    40% {
        opacity: 0;
        text-shadow: 0px 0px 1px white,
                     0px 0px 2px white,
                     0px 0px 10px white;
    }
    50% {
        opacity: 1;
        text-shadow: 0px 0px 5px white,
                     0px 0px 10px white,
                     1px 1px 50px white;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 5px white,
                     0px 0px 10px white,
                     1px 1px 50px white;
    }
}

.active {
    text-shadow: 1px 1px 10px white;
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: url(./assets/wave.png);
    background-size: 1000px 75px;
    background-repeat: repeat-x;
}

.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 0.8;
    animation-delay: 0s;
    bottom: 0;
}

.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }

}

@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }

}

.hoverText {
    cursor: pointer;
}

.hoverText:hover {
    font-weight: 900;
}

.hoverText:hover + .hoverText {
    font-weight: 700;
}

.hoverText:hover + .hoverText+ .hoverText {
    font-weight: 300;
}

.hoverText:has(+ .hoverText:hover) {
    font-weight: 700;
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
}

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 80%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__controls {
    display: flex;
    justify-content: end;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  
  .embla__parallax {
    border-radius: 1.8rem;
    height: 100%;
    overflow: hidden;
  }
  .embla__parallax__layer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .embla__parallax__img {
    max-width: none;
    flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
    object-fit: cover;
  }
  