@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Enriqueta:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Ms+Madi&family=Petit+Formal+Script&family=Playwrite+HR+Lijeva:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Luxurious+Roman&family=Pirata+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color:#fff5de;
    margin: 0;
    padding: 0;
    min-width: 390px;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.disable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  -webkit-tap-highlight-color: transparent;
}

.active {
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: url(./assets/wave.png);
    background-size: 1000px 75px;
    background-repeat: repeat-x;
}

.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 0.8;
    animation-delay: 0s;
    bottom: 0;
}

.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }

}

@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }

}

.hoverText {
  cursor: pointer;
  transition: 
  0.2s font-weight,
  0.2s color;
}

.hoverText:hover {
    font-weight: 900;
    color: rgb(227, 199, 137);
}

.hoverText:hover + .hoverText {
    font-weight: 500;
    color: rgb(192, 166, 105);
}

.hoverText:hover + .hoverText+ .hoverText {
    font-weight: 300;
}

.hoverText:has(+ .hoverText:hover) {
    font-weight: 500;
    color: rgb(201, 175, 115);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
    font-weight: 300;
}

.embla {
    max-width: 30rem;
    margin: auto;
    --slide-height: 100%;
    --slide-spacing: 1rem;
    --slide-size: 80%;
  }

  @media (min-width: 640px) {
    .embla{
        max-width: 50rem;
        --slide-height: 50rem;
    }
  }

  @media (min-width: 1280px) {
    .embla{
        max-width: 60rem;
        --slide-height: 60rem;
    }
  }
  @media (min-width: 1536px) {
    .embla{
        max-width: 70rem;
        --slide-height: 70rem;
    }
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__controls {
    display: flex;
    justify-content: end;
    gap: 1.2rem;
    margin-top: 1.8rem;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1rem;
    justify-content: center;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 3.6rem;
    height: 3.6rem;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  
  .embla__parallax {
    border-radius: 1.8rem;
    height: 100%;
    overflow: hidden;
  }
  .embla__parallax__layer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .embla__parallax__img {
    max-width: none;
    flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
    object-fit: cover;
  }